<h4 class="text-center">Add Your List</h4>
<form (ngSubmit)="onSubmit()">
    <div class="mb-3 my-3">
      <label for="title" class="form-label"> TaskMas Todo Title</label>
      <input type="text" [(ngModel)]="title" class="form-control" id="title"name="title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">TaskMas Todo Desc</label>
      <input type="text" class="form-control" name="desc" id="desc" [(ngModel)]="desc">
    </div>
    <div class="text-center">
    <button type="submit" class="btn btn-sm btn-primary">Add Todo</button>
    </div>
  </form>
